body{
    background-image: url("wood-background-wallpaper-preview.jpg");
    background-size: cover;
}
#Control{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 2vw;
}
#View{
    background-image: url("pngtree-vintage-old-paper-background-paperbackgroundpaper-image_79357.jpg"); 
    background-size: cover;
    padding:3%;
    margin: auto;
    font-size: 1.8vw;
    font-weight: bolder;
    width: 70vw;
    height: 100%;
    box-shadow: 1vw 1vh 1vh  black;
    border: 0.1vw solid;
} 
h1{
    font-family: cursive,Monospace,sans-serif;
    font-size: 8vh;
    font-stretch:extra-expanded;
    text-shadow: 3px 3px 3px #ababab;
    text-align: center;
    color: white;
}
/* todo */
.todo-container{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.todo-text{
    padding: 10px;
    width: 26vw;
    overflow:auto;
}
.todo-created-at{
    margin-left: 0.5vw;
    margin-right: 2vw;
    padding: 1%;

}
/* functions */
.edit-button{
    display: inline;
    float: right;
    font-size: 1vw;
}
.delete-button{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    font-size: 1vw;
}  
.check{
    text-decoration: line-through;
    color: rgba(8, 189, 18);
}
.markEdit {
    border: 2px solid #5b05fa;
}
/* category */
.general-category{
    width: 6vw;
    margin-left: 1vw;
    color: black;
}
.family-category{
    color:rgb(194, 26, 26);
    width: 6vw;
    margin-left: 1vw;

}
.work-category{
    color:blue;
    width: 6vw;
    margin-left: 1vw;
}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-left: 5vw;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
